* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 52px;
}

.img-container {
  position: relative;
  width: 377px;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  transition: 0.4s ease;
  text-align: center;
  color: white;
}
.overlay-text {
  margin-top: 20px;
  color: white;
}

.img-container:hover .overlay {
  height: 75px;
}

.header-top {
  height: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.header .navbar {
  display: flex;
  padding: 30px 0 15px 0;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header .navbar {
    padding-top: 15px;
  }
  .header .navbar .logo-img {
    padding-top: 8px;
  }
}
.header .navbar-menu {
  display: flex;
  margin-left: 45px;
  margin-right: 30px;
  padding-top: 5px;
}
@media (max-width: 767px) {
  .header .navbar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    padding-left: 30px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    left: -120%;
    top: 50px;
    transition: left 0.4s ease;
    z-index: 1;
  }
}
.header .navbar-menu li {
  margin-right: 50px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .navbar-menu li {
    margin-right: 25px;
  }
}
@media (max-width: 991px) {
  .header .navbar-menu li {
    margin-bottom: 15px;
  }
}
.header .navbar-menu li a {
  font-size: 14px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .header .navbar-menu li a {
    font-size: 16px;
  }
}
.header .navbar-menu li a:hover {
  border-bottom: 2px solid #DDB429;
  color: #D11B1B;
}
.header .navbar-icon {
  display: flex;
}
@media (max-width: 767px) {
  .header .navbar-icon {
    padding-top: 8px;
    margin-right: 20px;
  }
}
.header .navbar-icon .search-icon {
  border-radius: 50px;
  width: 45px;
  height: 30px;
  display: flex;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  margin-right: 7px;
}
.header .navbar-icon .icon {
  align-self: center;
  padding: 10px 15px 7px 5px;
}
.header .navbar-icon .search {
  align-self: center;
}
.header .navbar-icon .search input {
  /* width:200px ; */
  padding-right: 10px;
  width: 70px;
  border: none;
  background-color: rgb(220, 227, 235);
}
.header .navbar-icon .search input:focus {
  outline: none;
}
.header .navbar-icon .search-icon:hover {
  width: 120px;
  /* transition: ;/ */
  background-color: rgb(220, 227, 235);
}
.header .navbar-icon .notification {
  position: relative;
}
.header .navbar-icon .badge {
  background-color: red;
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 9px;
  position: absolute;
  top: -2px;
  left: -2px;
}
.header .navbar-icon li {
  margin-right: 20px;
  padding: 7px 5px 5px 5px;
}
.header .navbar-icon :last-child {
  margin-right: 0;
}

.hamberg-btn {
  font-size: 30px;
  text-align: end;
  padding-left: 50px;
  padding-bottom: 10px;
  display: none;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 767px) {
  .hamberg-btn {
    display: block;
  }
}

.cross-btn {
  font-size: 40px;
  text-align: end;
  padding-left: 50px;
  cursor: pointer;
  display: none;
  z-index: 1;
}

.footer {
  position: relative;
  margin-top: 50px;
  border-top: 10px solid #B0060F;
  background-color: black;
}
.footer-links {
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
  padding-left: 50px;
}
@media (max-width: 767px) {
  .footer-links {
    margin-left: 15px;
    padding-left: 5px;
  }
}
.footer-links__items {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .footer-links__items {
    margin-right: 15px;
  }
}
.footer-links__items li {
  margin-bottom: 10px;
  color: white;
  font-size: 13px;
}
.footer-links__items li a {
  color: white;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 15px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer-links__items li a {
    font-size: 10px;
  }
}
.footer-links__items li a:hover {
  opacity: 1;
}
.footer-links__items :first-child {
  margin-bottom: 15px;
}
.footer-copyright {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-copyright h4 {
  text-align: center;
  color: white;
  margin-top: 50px;
}
.footer-copyright .cards {
  position: absolute;
  left: 35%;
}
.footer-copyright .cards img {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer-copyright .cards {
    left: 18%;
  }
}
.footer-icon {
  margin-left: 80px;
}
@media (max-width: 767px) {
  .footer-icon {
    margin-left: 15px;
  }
}
.footer-icon__networking {
  margin-bottom: 10px;
}
.footer-icon__networking .icon {
  margin-right: 20px;
  font-size: 24px;
  color: white;
  opacity: 0.4;
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer-icon__networking .icon {
    font-size: 18px;
    margin-right: 8px;
  }
}
.footer-icon__networking .icon:hover {
  opacity: 1;
}

.banner {
  display: grid;
  grid-template-columns: 575px 365px 365px;
  grid-template-rows: 283px 283px;
  gap: 15px;
  position: relative;
}
@media (max-width: 767px) {
  .banner {
    display: none;
  }
}
.banner-left {
  grid-row: 1/3;
  background-color: #DDB429;
}
.banner-left__create {
  transform: rotate(-90deg);
  position: relative;
  right: 250px;
  top: 150px;
  font-size: 104px;
  color: #B0060F;
  opacity: 0.9;
}
.banner-left__img {
  margin-left: 160px;
  height: 408px;
  width: 300px;
  background-color: white;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.banner-left__img .top-right {
  transform: rotate(-45deg);
  font-size: 48px;
  position: absolute;
  bottom: 390px;
  left: 295px;
}
.banner-left__img .bottom-left {
  transform: rotate(135deg);
  font-size: 48px;
  position: absolute;
  bottom: -30px;
  left: -10px;
}
.banner-left__img-text {
  background-color: black;
  color: white;
  font-size: 25px;
  margin-top: -25px;
  height: 100px;
  text-align: center;
}
.banner-left__img-text img {
  padding-top: 20px;
}
.banner-left__img:hover {
  transform: scale(1.1);
}
.banner-left__img:hover .top-right {
  font-size: 60px;
}
.banner-left__img:hover .bottom-left {
  font-size: 60px;
}
.banner-middle figure {
  height: 283px;
  width: 365px;
  overflow: hidden;
}
.banner-middle img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.banner-middle img:hover {
  transform: scale(1.2);
}
.banner-middle .overlay {
  width: 96%;
}
.banner-middle .overlay .icon {
  padding: 20px 20px 0 0;
}
.banner-middle .overlay-text {
  display: inline;
}
.banner-middle .overlay p {
  padding-left: 35px;
}
.banner-right {
  grid-row: 1/3;
  grid-column: 3/4;
}
.banner-right figure {
  height: 579px;
  width: 375px;
  overflow: hidden;
}
.banner-right img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.banner-right img:hover {
  transform: scale(1.2);
}
.banner .overlay {
  background-color: rgba(176, 6, 15, 0.75);
}
.banner .overlay .icon {
  padding: 20px 20px 0 0;
}
.banner .overlay-text {
  display: inline;
}
.banner .overlay p {
  padding-left: 35px;
}

.gallary {
  margin-top: 60px;
  margin-left: 100px;
  display: grid;
  grid-template-rows: repeat(2, 336px);
  grid-template-columns: repeat(3, 336px);
  gap: 20px;
}
@media (max-width: 767px) {
  .gallary {
    display: none;
  }
}
.gallary figure {
  height: 336px;
  width: 336px;
  overflow: hidden;
}
.gallary img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.gallary img:hover {
  transform: scale(1.2);
}
.gallary .overlay {
  background-color: rgba(25, 23, 23, 0.65);
  width: 90%;
}

.slider-section {
  position: relative;
  margin-top: 60px;
  padding-top: 50px;
  background-color: black;
}
.slider-section .red-bg {
  width: 200px;
  height: 580px;
  background-color: red;
  position: absolute;
  left: 42%;
}
@media (max-width: 767px) {
  .slider-section .red-bg {
    left: 37%;
  }
}
.slider-section .slider {
  display: flex;
  padding-top: 20px;
  margin-bottom: 60px;
}
.slider-section .slider .slide-itm {
  width: 50vw;
}
@media (max-width: 767px) {
  .slider-section .slider .slide-itm {
    margin-left: 60px;
    margin-right: 180px;
  }
}
.slider-section .slider .slide-itm .image-container {
  padding: 90px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}
.slider-section .slider .slide-itm__text {
  position: absolute;
  top: 25%;
  display: none;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
}
.slider-section .slider .slide-itm__text .slider-btn {
  border-left: 8px solid rgb(161, 161, 5);
  padding-left: 17px;
  text-decoration: none;
  color: white;
}
@media (max-width: 767px) {
  .slider-section .slider .slide-itm__text {
    z-index: 1;
  }
}
.slider-section .slider .slick-center {
  transition: 0.3s;
}
.slider-section .slider .slick-center .image-container {
  padding: 40px;
  margin: auto;
}
.slider-section .slick-current .slide-itm__text {
  display: block;
}
.slider-section .left-controller {
  position: absolute;
  left: 26%;
  bottom: 48px;
  cursor: pointer;
  z-index: 1;
}
.slider-section .right-controller {
  position: absolute;
  right: 26%;
  bottom: 48px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .slider-section .right-controller {
    right: 19%;
  }
}

.products {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .products {
    display: none;
  }
}
.products figure {
  height: 260px;
  width: 250px;
  overflow: hidden;
}
.products img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.products img:hover {
  transform: scale(1.2);
}
.products-heading {
  display: flex;
}
.products-heading__title {
  color: #B0060F;
  font-size: 35px;
}
.products-heading .line {
  padding-top: 20px;
}
.products-content {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-columns: repeat(4, 260px);
  gap: 60px;
  margin-top: 50px;
}
.products-img__colors {
  display: flex;
  margin-top: 10px;
}
.products-img__colors .color {
  height: 13px;
  width: 13px;
  margin-right: 6px;
}
.products-img__colors .black-color {
  background-color: black;
}
.products-img__colors .green-color {
  background-color: #AACB23;
}
.products-img__colors .red-color {
  background-color: #BA3030;
}
.products-price {
  display: block;
}
.products .img-container {
  width: 250px;
}
.products .img-container .overlay {
  background-color: rgba(25, 23, 23, 0.65);
  width: 95%;
}
.products .img-container .overlay-text__title {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 15px;
}
.products .img-container:hover .overlay {
  height: 50px;
}

.design-now {
  margin-left: 170px;
  margin-top: 60px;
  margin-bottom: 230px;
  position: relative;
}
@media (max-width: 767px) {
  .design-now {
    margin-left: 50px;
    padding: 0;
    height: 350px;
    display: flex;
    justify-content: center;
  }
  .design-now .img-left {
    width: 230px;
    overflow: hidden;
  }
  .design-now .img-left img {
    width: 230px;
  }
  .design-now .img-left__upper {
    margin-bottom: -15px;
  }
  .design-now .img-right {
    width: 230px;
    overflow: hidden;
  }
  .design-now .img-right img {
    width: 230px;
  }
  .design-now .img-right__upper {
    margin-bottom: -15px;
  }
}
.design-now__img {
  display: flex;
}
.design-now__img img {
  margin: 10px;
}
.design-now__text {
  margin: 0px 0 30px 20px;
}
@media (max-width: 767px) {
  .design-now__text {
    width: 500px;
    margin-top: -60px;
  }
}
.design-now__btn {
  background-color: #DDB429;
  color: white;
  display: block;
  width: 850px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  .design-now__btn {
    width: 200px;
    margin-left: 150px;
    border-radius: 7px;
  }
}
.design-now__btn:hover {
  color: #D11B1B;
}

.your-idea {
  background-color: white;
  width: 500px;
  padding: 35px 0 20px 100px;
  position: relative;
  bottom: 70px;
  left: 200px;
}
.your-idea__title {
  display: block;
  font-size: 32px;
}
@media (max-width: 767px) {
  .your-idea__title {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .your-idea {
    left: 60px;
    width: 350px;
    padding: 10px 0 10px 40px;
  }
  .your-idea img {
    width: 250px;
  }
}

.aboutus {
  background-color: black;
  height: 300px;
  margin-top: 80px;
  position: relative;
  margin-bottom: 190px;
}
@media (max-width: 767px) {
  .aboutus {
    display: none;
  }
}
.aboutus-blocks {
  display: grid;
  grid-template-rows: repeat(2, 270px);
  grid-template-columns: repeat(2, 400px);
  gap: 25px;
  position: absolute;
  bottom: -140px;
  left: 250px;
}
.aboutus-blocks svg {
  margin-left: 150px;
  margin-bottom: 20px;
}
.aboutus-text {
  color: white;
  text-align: center;
}
.aboutus-para {
  display: none;
}
.aboutus-content {
  background-color: #B0060F;
  padding: 45px 20px 20px 20px;
  transition: 0.5s ease-in-out;
}
.aboutus-content .imgcolor {
  fill: white;
}
.aboutus-content:hover {
  box-shadow: 10px 10px 20px rgb(71, 70, 70);
  background-color: white;
}
.aboutus-content:hover .imgcolor {
  fill: #B0060F;
}
.aboutus-content:hover .aboutus-text {
  color: #D11B1B;
}
.aboutus-content:hover .aboutus-para {
  display: block;
}

.joinus {
  position: relative;
}
.joinus-background {
  width: 100%;
}
.joinus-form {
  background-color: white;
  width: 85%;
  position: absolute;
  left: 8%;
  top: 27%;
  padding: 45px;
}
@media (max-width: 767px) {
  .joinus-form {
    top: 10%;
    padding: 20px;
  }
}
.joinus-form input {
  border: 1px solid #DDB429;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}
.joinus-form .btn {
  background-color: #DDB429;
  color: white;
  padding: 8px 45px;
  border: none;
  display: inline-block;
  border-radius: 7px;
}

.shop-now {
  height: 440px;
  display: flex;
  margin-top: 60px;
  position: relative;
}
@media (max-width: 767px) {
  .shop-now {
    height: 300px;
    overflow: hidden;
  }
}
.shop-now__left {
  width: 700px;
  background-color: #D11B1B;
  height: 440px;
}
.shop-now__left img {
  position: absolute;
  left: 500px;
  top: 37px;
}
@media (max-width: 767px) {
  .shop-now__left img {
    top: 70px;
    width: 200px;
    left: 210px;
  }
}
.shop-now__left .dot-img {
  position: absolute;
  left: 360px;
  top: -40px;
  opacity: 0.5;
  width: 600px;
}
@media (max-width: 767px) {
  .shop-now__left .dot-img {
    width: 300px;
    top: 60px;
    left: 140px;
  }
}
.shop-now__left .left-title {
  font-size: 128px;
  color: white;
  font-weight: bold;
  opacity: 0.2;
  position: absolute;
  top: 80px;
  left: 50px;
  font-style: italic;
}
@media (max-width: 767px) {
  .shop-now__left .left-title {
    font-size: 48px;
  }
}
.shop-now__left .left-para {
  width: 400px;
  color: white;
  position: absolute;
  top: 150px;
  left: 100px;
  line-height: 30px;
}
@media (max-width: 767px) {
  .shop-now__left .left-para {
    top: 120px;
    left: 60px;
    width: 230px;
    font-size: small;
    line-height: 15px;
  }
}
.shop-now__right {
  width: 700px;
  background-color: #E2C35B;
  height: 440px;
}
.shop-now__right .right-content {
  position: absolute;
  top: 50px;
  right: 110px;
}
@media (max-width: 767px) {
  .shop-now__right .right-content {
    text-align: center;
    top: 60px;
    left: 50%;
    width: 300px;
  }
}
.shop-now__right .right-content__title {
  font-size: 98px;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
@media (max-width: 767px) {
  .shop-now__right .right-content__title {
    font-size: 55px;
  }
}
.shop-now__right .right-content__subtitle {
  font-size: 66px;
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .shop-now__right .right-content__subtitle {
    font-size: 25px;
  }
}
.shop-now__right .right-content .btn {
  background-color: black;
  padding: 8px 45px;
  color: white;
  margin-left: 90px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .shop-now__right .right-content .btn {
    padding: 8px 20px;
    margin-left: 0;
  }
}
.shop-now__right .right-content .btn:hover {
  background-color: white;
  color: black;
}

.readmore {
  margin-top: 60px;
  display: flex;
  position: relative;
}
.readmore-right {
  position: absolute;
  left: 250px;
  top: 50px;
}
@media (max-width: 767px) {
  .readmore-right {
    left: 25%;
    width: 75%;
  }
}
.readmore-right img {
  width: 100%;
}
.readmore-right__text {
  position: absolute;
  bottom: 150px;
  left: 250px;
  width: 500px;
  text-align: center;
}
@media (max-width: 767px) {
  .readmore-right__text {
    bottom: 40px;
    left: 25%;
    width: 250px;
  }
}
.readmore-title {
  font-size: 27px;
  color: white;
  text-align: center;
}
@media (max-width: 767px) {
  .readmore-title {
    font-size: 15px;
  }
}
.readmore-para {
  color: white;
  text-align: center;
}
@media (max-width: 767px) {
  .readmore-para {
    font-size: 9px;
  }
}
.readmore-btn {
  border: 1px solid white;
  padding: 10px 60px;
  margin-left: 10px;
  color: white;
  display: inline-block;
  margin-top: 30px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .readmore-btn {
    padding: 6px 20px;
    margin-top: 10px;
  }
}
.readmore-btn:hover {
  background-color: white;
  color: #D11B1B;
}
@media (max-width: 767px) {
  .readmore-left {
    width: 45%;
  }
}
.readmore-left img {
  width: 100%;
}

.quickbuy-header {
  margin-top: 60px;
  margin-bottom: 30px;
}

.quick-buy {
  background-color: black;
}
.quick-buy .items {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
@media (max-width: 767px) {
  .quick-buy .items {
    margin-left: 0;
    margin-right: 0;
  }
}
.quick-buy .items .item {
  height: 80px;
  width: 80px;
  margin-top: 15px;
  cursor: pointer;
}
.quick-buy .items .item img {
  padding-left: 15px;
}
.quick-buy .items .item-title {
  color: white;
  margin-top: 4px;
  text-align: center;
}

.category {
  display: flex;
  justify-content: space-between;
  display: none;
}
.category-content {
  width: 130px;
  margin-right: 20px;
}
.category-content__img img {
  width: 100%;
}
.category-content__title {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
.category-content__title a {
  cursor: pointer;
}
@media (max-width: 767px) {
  .category {
    display: flex;
  }
}

.start-designing {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  display: none;
}
.start-designing__bg {
  width: 100%;
}
.start-designing__content {
  display: flex;
  position: absolute;
  bottom: 15px;
}
@media (max-width: 767px) {
  .start-designing__content {
    bottom: 28px;
  }
}
.start-designing__content .content-img img {
  width: 180px;
  background-color: white;
}
.start-designing__content .content-text {
  margin-left: 50px;
}
.start-designing__content .content-text h1 {
  color: white;
  font-size: 50px;
}
.start-designing__content .content-text h3 {
  color: white;
}
.start-designing__content .content-text button {
  background: none;
  padding: 5px 25px 10px 15px;
  margin-top: 20px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
}
.start-designing__content .content-text button img {
  width: 20px;
}
@media (max-width: 767px) {
  .start-designing__content .content-text button img {
    width: 25px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .start-designing {
    display: flex;
  }
}

.shop {
  margin-top: 50px;
  position: relative;
  display: none;
}
.shop-bg__img {
  width: 70%;
}
.shop-content {
  display: flex;
  position: absolute;
  right: 0;
  top: 10%;
}
.shop-content__text {
  margin-right: 60px;
}
.shop-content__text h1 {
  color: white;
  font-size: 70px;
}
.shop-content__text h3 {
  color: white;
}
.shop-content__text h5 {
  margin-top: 20px;
  color: white;
  font-weight: 200;
}
.shop-content__img {
  width: 270px;
  height: 200px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .shop {
    display: block;
  }
}

.new-release {
  display: none;
}
@media (max-width: 767px) {
  .new-release {
    display: block;
  }
}
.new-release__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.new-release__heading h2 {
  font-weight: bold;
}
.new-release__heading a {
  color: black;
  border-left: 5px solid #E2C35B;
  padding-left: 10px;
  padding-top: 5px;
  cursor: pointer;
}
.new-release-slider {
  display: flex;
  justify-content: center;
}
.new-release-slider .slide-itm {
  margin-left: 0;
  margin-right: 0;
}
.new-release-slider .slide-itm .img-container {
  width: 250px;
}

.aboutus-moblie {
  width: 100%;
  justify-content: center;
  display: none;
}

.aboutus-mobile__content {
  display: flex;
  margin-bottom: 30px;
}
.aboutus-mobile__content .content-img {
  margin-right: 30px;
}
.aboutus-mobile__content .content-text h3 {
  margin-bottom: 7px;
}