// ====font variable
$primary-fonts:'Roboto', sans-serif;


// ===color variable====
$white-color:white;
$black-color:black;
$dark-red-color:#B0060F;
$yellow-color:#DDB429;
$red-color:#D11B1B;
$light-yellow-color:#E2C35B;

// =======break point==========

$custom-small-mobile-max: 359px;
$portrait-mobile-max: 575px;
$mobile-min: 576px;
$mobile-max: 767px;
$ipad-min: 768px;
$ipad-max:  991px;
$desktop-min:  992px;
$desktop-max:  1199px;
$large-desktop-min: 1200px;
$medium-large-desktop-min:  1366px;
$medium-large-desktop-max: 1400px;